.b-menu {
    
}
    .b-menu li{
        display: inline-block;
        margin-right: 30px;
    }
        .b-menu li a{
            color: #FFF;
        }
        .b-menu li a.active{
            color: red;
        }